
/************/
/*  NORMAL  */
/************/

html,body {
	font-family: "Open Sans", sans-serif;
	height: 100%;
	font-size: 13px;
	font-weight: 300;
	overflow:hidden;
}

strong {
	font-weight: 700;
}

#owl-demo .item{
	display: block;
	width: 100%;
	height: auto;
}

/* Supersized */

* { margin:0; padding:0; }
body { height:100%; }
img{ border:none; }

#supersized-loader { position:absolute; top:50%; left:50%; z-index:0; width:60px; height:60px; margin:-30px 0 0 -30px; text-indent:-999em; background:url(../img/progress.gif) no-repeat center center;}

#supersized { position:fixed; left:0; top:0; overflow:hidden; z-index:-999; height:100%; width:100%; }
#supersized img{ width:auto; height:auto; position:relative; outline:none; border:none; }

#supersized a { z-index:-30; position:fixed; overflow:hidden; top:0; left:0; width:100%; height:100%; background:#111; display:block; }
#supersized a.image-loading { background:#111 url(../img/progress.gif) no-repeat center center; width:100%; height:100%; }

.jumbotron {
	background: none;
	font-size: inherit;
	font-weight: 600;
}

h1 {}
h2  /*normal title*/{
	font-size:16px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0;
}
p {

	line-height: 20px !important;
}
li {
	margin-left: 20px;
}
.green {
	color: rgba(36,78,162,1);
}
.nopadding {
	padding: 0 !important;
}
.header {
	background: none;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 0;
	padding: 0% 0;
	height: 6%;
	position: relative;
	width: 100%;
	display:block;
	background: url("../img/header-bg.png");
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
}
.header .header-logo {
	width:60%;
	display: inline-block;
	position: absolute;
	left:0;
	height: 100%;
	padding: 0.5% 0 0 9%;
}
.header-logo img {
	vertical-align: middle;
	width: 37%;
}
.headermenu {
	width: 40%;
	display: inline-block;
	position: absolute;
	right: 0;
	height: 100%;
	padding: 0.6%;
	/* line-height: 304%; */
}
.header a {
	font-family: "Raleway", sans-serif;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	margin-left: 20px;
}
.header a:hover{
	border-bottom: 2px solid #fff;
}
.header a.current {
	border-bottom: 2px solid #fff;
}
.logo {
	width: 36%;
}
.tagline,.home-tagline {
	color:white;
	text-transform: uppercase;
	position:absolute;
}
.home-tagline {
	top: 25%;
}
.home-tagline h1 {
	font-weight: 800;
	font-size: 55px;
}
.tagline h1, {
	font-weight: 800;
	font-size: 55px;
}
a.fa{
	text-decoration: none;
	color: #000;
	cursor: pointer;
	transition : color 500ms;
	margin-right:15px;
	font-size: 15px;
}
a.fa:hover {
	color: blue;
}

/* Frontpage Buttons */
.homebg {
	background-image: url(../img/home-bg.png);
	background-size: cover;
	background-position: bottom left;
	position: absolute;
	width: 88%;
	height: 75%;
	right: 0;
	top: 6%;
	display: block;
	z-index: -1;
}
.frontbutton-wrap {
	width: 88%;
	height: 90%;
	margin-top: 3%;
	margin-left: 12%;
	z-index: 99999;
}
.frontbutton {
	float: left;
	width: 45%;
}
.frontbutton img {
	width: 100%;
}
#frontbutton1 {
	width: 21%;
	margin-top: -2%;
	margin-left: 32%;
}
#frontbutton2 {
	width: 18%;
	margin-top: 16%;
	margin-left: -5%;
}
#frontbutton3 {
	width: 19%;
	clear: left;
	margin-top: -15%;
	margin-left: 25%;
}
#frontbutton4 {
	width: 15%;
	margin-top: 1%;
	margin-left: -1%;
}
#frontbutton5 {
	width: 15%;
	margin-top: -3%;
	margin-left: 6%;
}

.about {
	margin-left: 50%;
	position: absolute;
	width: 35%;
	height: 20%;
	float: left;
	margin-top: 1%;
}
.about p{

	overflow-y: auto;
	width: 100%;
	height:80%;
	margin-top: 3%;
}

.news {
	position: absolute;
	width: 33%;
	height: 14%;
	margin-top: -18%;
	margin-left: 13%;
	-webkit-transform: skew(-45deg);
	-moz-transform: skew(-45deg);
	-o-transform: skew(-45deg);
	transform: skew(-45deg);
	background: #eee;
}
.unskew {
	-webkit-transform: skew(45deg); 
	-moz-transform: skew(45deg); 
	-o-transform: skew(45deg);
	transform: skew(45deg);
	padding: 23px 10px 8px 69px;
}
#owl-demo {
	width: 85%;
}

#owl-demo .item{
	display: block;
	width: 100%;
	height: auto;
}

#owl-demo>.owl-controls .owl-buttons {
	width: 20%;
	text-align: right;
}

/* Footer */
.footer {
	background: url("../img/footer.png");
	background-repeat: no-repeat;
	background-position: top left;
	position: absolute;
	background-size: auto 100%;
	bottom: 0px;
	width: 68%;
	height: 35px;
	left: 12%;
	padding: 10px 60px;
	font-size: 11px;
}

/*products related*/
.products {
	padding: 0;
	right: 0;
	top: 20%;
	position: absolute;
	width: 90%;
	height: 100%;
	display: block;
}

.product-icon {
	width: 120px;
	height: 77px;
	display: inline-block;
	margin: 0 5px;
	background-repeat: no-repeat;
	background-size: 100%;
	margin-top: 11px;
	cursor: pointer;
}
.product-search {
	display: inline-block;
	background-image: url(../img/product-bg-3.png);
	background-position: left bottom;
	background-size: cover;
	width: 29%;
	height: 8%;
	position: absolute;
	margin-left: 60%;
	margin-top: 1%;
	padding: 1% 1% 0% 5%;
}
.product-search input {
	height: 60%;
	margin-right: 10px;
	vertical-align: middle;
}
.product-search input[type=text] {
	border: 2px solid #ccc;
	width: 60%;
	padding: 10px 20px;
}
.product-search input[type=submit] {
	border: none;
	width: 30%;
	background: #244ea2;
	color: #fff;
}
.product-main {
	background-color: #fff;
	position: relative;
	display: block;
	margin-left: 0%;
	margin-top: 5.5%;
}
.product-holder {
	border-radius: 99999px;
	width: 350px;
	height: 350px;
	display: inline-block;
	vertical-align: top;
	background-size: cover;
	margin: 2% 2% 0 2%;
}
.product-list,.product-interest {
	padding-top: 0px;
}
.product-list {
	width: 20%;
	display: inline-block;
	padding: 1% 1% 0 1%;
	vertical-align: top;
	line-height: 24px;
}
.product-list h1{
	font-size: 24px;
	font-weight: bold;
	color: #244ea2;
	margin: 10px 0 10px 0;
}
.product-interest {
	border-left: 1px solid #ccc;
	height: 80%;
	padding: 50px 20px;
	display:inline-block;
	width: 24%;
	vertical-align: top;
	margin-top: 2%;
}

.product-interest h1 {
	font-size: 30px;
	font-weight: bold;
	color: #000;
	line-height: 23px;
}
.product-interest .button {
	font-size: 14px;
	font-weight: bold;
	color: #fff !important;
	padding:10px 0;
	margin: 50px 0;
	width: 150px;
	display: block;
	background: #244ea2;
	line-height: 25px;
	text-align: center;
	cursor: pointer;
}

.product-interest i {
	margin-right: 10px;
}
.product-bottom {
	background: url("../img/product-bg-2.png");
	background-size: cover;
	height: 50px;
}

.owl-slide {
	width: 62% !important;
	height: 10%;
	background: url("../img/product-bg-1.png");
	background-size: cover;
	background-repeat: no-repeat;
	display:inline-block !important;
	padding-left: 10px;
	position:absolute;
}

.owl-slide-inner .owl-wrapper-outer {
	width:75% !important;
	display: inline-block !important;
}

.owl-slide-inner .item{
	display: block;
	width: 100%;
	height: auto;
	margin= 0
}
.owl-slide-inner .owl-controls {
	display: inline-block !important;
	margin-top:-30px;
}

.owl-slide-inner .owl-controls .owl-buttons {
	width: 70px;
}


/* About */
.about {
	text-align: justify;
}

/* Services & contact */
#services {
	top: 6%;
	position: absolute;
	width: 50%;
	height: 100%;
	right: 0;
}
.services, .contact {
	top: 40%;
	width: 80%;
	height: 40%;
	padding: 20px;
	background: #fff;
	display: block;
	vertical-align: top;
	position: absolute;
}
.services-top, .contact-top {
	background-size: cover;
	background-position: bottom left;
	display: block;
	height: 40%;
	top: 0%;
	width: 100%;
	position: absolute;
}
.services-top {
	background-image: url(../img/services-bg-top1.png);
}
.contact-top {
	background-image: url(../img/contact-bg-top.png);
}
.services-corner {
	display: block;
	top: 40%;
	margin-left: 80%;
	width: 20%;
	height: 40%;
	background: url(../img/services-bg-side.png);
	background-size: cover;
	background-position: bottom left;
	position: absolute;
}
.services-menu {
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 30px;
	color: #ccc;
	font-weight: bold;
	cursor: pointer;
}
.services-inner-top {
	position: relative;
	display: block;
	height:10%;
	width: 100%;
	margin-bottom:2%;
}
.services-inner-btm {
	position: relative;
	display: block;
	height:88%;
	width: 100%;
	overflow-y: auto;
}

.services-menu.current {
	color: #111;
	border-bottom: #111 solid 1px;
}

.services-menu:hover {
	color: #111;
	border-bottom: #111 solid 1px;
	text-decoration: none;
}

.contact .forms{
	padding: 0 10px 0 0;
	margin: 15px 0;
}

.contact h1 {
	font-size: 20px;
	font-weight: bold;
	color: #000;
	line-height: 23px;
	margin: 10px 0 10px 0;
}

.contact input, .contact textarea {
	border: 1px #000 solid;
	padding: 5px 20px;
}

.contact input[type="text"] {
	width: 48%;
	height:13%;
	display: inline-block;
	margin-right: 2%;
	margin-bottom:2%;
	margin-top: 2%;
}

.contact textarea {
	width:99%;
	height:30%;
}
.contact #email {
	margin-right: 0!important;
}

.contact .button {
	font-size: 14px;
	font-weight: bold;
	color: #fff !important;
	padding:10px 0;
	width: 200px;
	display: block;
	background: #244ea2;
	line-height: 25px;
	text-align: center;
	cursor: pointer;
	margin-top: 2%
}
.contact-inner-btm {
	position: relative;
	display: block;
	height: 80%;
	width: 100%;
	overflow-y: auto;
}

.hideonnormal {
	display: none;
}

/**************/
/* MOBILE 480 */
/**************/

@media (max-width: 480px) {

	body {
		background-color:  #fff;
		padding: 0;
	}

	hr {
		margin: 10px 0;
	}

	.jumbotron {
		padding: 0;
	}

	.header {
		text-align: center;
		margin-bottom: 90px;
		display:block;
	}

	.logo {
		width: 60% !important;
		margin: 20px 0;
	}

	.headermenu {
		background-color: #244ea2;
		padding: 10px;
	}

	.header a{
		width: 24%;
		display: inline-block;
		margin: 0 !important;
		border-right: 1px #fff solid;
		font-size: 15px;
		transition: color 500ms;
		color: rgba(255,255,255,0.5);
	}

	.header a:last-child{
		border-right: none !important;
	}

	.header a:hover, .header a.current {
		border-bottom: none;
		color: rgba(255,255,255,1);
	}

	.hideonmobile {
		display: none !important;
	}

	.hideonnormal {
		display: block !important;
	}

	.frontbutton {
		position: relative !important;
		background: #244ea2;
		background-size: 100% !important;
		background-position: center !important;
		background-repeat: no-repeat;
		width: 49.3% !important;
		height:150px !important;
		color: #fff;
		top: auto !important;
		left: auto !important;
		display: inline-block !important;
		margin: 0.5%;
		transition: background-position 1000ms, background-size 1000ms;
		margin: 0.5% 0;
		-webkit-backface-visibility: hidden;
	}

	.frontbutton:hover{
		background-size: 140% !important;
	}

	#frontbutton1 {
		background-image: url(../img/mobile-front1.jpg);
		width: 100% !important;
		background-position: top !important;
	}
	#frontbutton2 {
		background-image: url(../img/mobile-front2.jpg);
	}
	#frontbutton3 {
		background-image: url(../img/mobile-front3.jpg);
		margin: 0 0 0 0.5%;
	}
	#frontbutton4 {
		background-image: url(../img/mobile-front4.jpg);
	}
	#frontbutton5 {
		background-image: url(../img/mobile-front5.jpg);
		margin: 0 0 0 0.5%;
	}

	.frontoverlay {
		background: #244ea2;
		opacity: 0;
		z-index: 9999;
		width: 100%;
		height: 100%;
		line-height: 150px;
		transition: opacity 500ms;
		color: #fff !important;
		font-size: 20px;
		text-align: center;
		font-weight: bold;
		text-transform: uppercase;
		text-decoration: none !important;
		border: none;
	}

	.frontoverlay:hover {
		opacity: 1;
	}

	.frontoverlay > *{
		text-decoration: none !important;
	}

	.news {
		position: relative !important;
		width: 100%;
		height: 150px;
		top: auto !important;
		left: auto !important;
		-webkit-transform: skew(0deg) !important;
		-moz-transform: skew(0deg) !important;
		-o-transform: skew(0deg) !important;
		transform: skew(0deg) !important;
		background: #eee;
		padding: 0 !important;
	}
	.unskew {
		-webkit-transform: skew(0deg) !important; 
		-moz-transform: skew(0deg) !important; 
		-o-transform: skew(0deg) !important;
		transform: skew(0deg) !important;
		padding: 5px !important;
	}
	.footer {
		background: #244ea2;
		width: 100%;
		position: fixed !important;
		left: auto !important;
		padding: 10px 0 !important;
		text-align: center;
		color: #fff;
	}
	.news {
		text-align: center;
		padding: 10px !important;
		margin-top:20px;
	}
	.news .row{
		margin: 0;
	}
	.news h2 {
		margin-bottom: 10px ;
	}
	.news .pull-right {
		float: none !important;
		margin: 20px 0 !important;
	}

	.news .pull-right>*:last-child {
		margin: 0 !important;
	}

	.item strong {
		display: block;
	}

	.product-icon {
		width: 18.9%;
		margin: 0.2%;
		opacity: 0.5;
		border-bottom: none;
		transition: border-bottom 500ms, opacity 500ms;
	}

	.product-icon.current, .product-icon:hover {
		opacity: 1;
	}

	.product-control {
		width: 100%;
		text-align: center;
	}

	.product-banner {
		height: 300px;
		width: 100%;
		display:block;
		position: relative;
		background: url("../img/product-2-mobile.jpg");
		background-size: auto 100%;
		background-position: center;
		background-repeat: no-repeat;
		margin: 0.5% 0;
	}

	.product-list {
		width: 100%;
		display:inline-block;
		padding:0 5% 0% 5%;
		text-align: center;
		margin: 0 auto;
	}

	.product-list li{
		list-style: none !important;
		margin: 5px 0 !important;
		line-height: 20px;
	}

	.product-interest{
		padding: 2% 0;
		text-align: center;
	}

	.product-interest h1{
		display: inline-block;
		margin: 0;
	}
	.product-interest .button {
		margin: 10px auto 40px auto !important;
		width: 80%;
		display: block;
	}

	.services, .contact{
		text-align: center;
		margin: 0 auto 0 auto;
		text-align: center;
		padding: 0;
	}

	.services .row, .contact .row {
		width: 100%;
		padding: 10px 30px;
		margin: 10px ;
		max-width: 480px;
	}

	.services .row:last-child {

		margin: 10px 10px 40px 10px ;
	}

	.services-menu {
		display: inline-block;
		margin: 8px;
		color: #ccc;
		font-weight: bold;
		cursor: pointer;
		font-size: 12px;

	}

	.services-menu.current {
		color: #111;
		border-bottom: #111 solid 1px;
	}

	.services-menu:hover {
		color: #111;
		border-bottom: #111 solid 1px;
		text-decoration: none;
	}

	.contact input, .contact textarea {
		width: 100%;
		border: 1px #000 solid;
		padding: 5px 20px;
	}

	.contact .button {
		padding: 10px 0;
		width: 100%;
		display: block;
		background: #244ea2;
		line-height: 25px;
		text-align: center;
		cursor: pointer;
		margin: 0 auto 30px auto !important;
	}

	.contact .row {
		width: 100%;
		padding: 0px 30px;
		margin: 10px ;
		max-width: 480px;
	}

	.contact .forms {
		margin: 5px auto;
	}
	.contact .forms:last-child {
		margin-top: 0px !important;
	}
}


/**************/
/* MOBILE 640 */
/**************/

@media (max-width: 640px) and (min-width: 481px) {

	body {
		background-color:  #fff;
		padding: 0;
	}

	hr {
		margin: 10px 0;
	}

	.jumbotron {
		padding: 0;
	}

	.header {
		text-align: center;
		margin-bottom: 90px;
		display:block;
	}

	.logo {
		width: 60% !important;
		margin: 20px 0;
	}

	.headermenu {
		background-color: #244ea2;
		padding: 10px;
	}

	.header a{
		width: 24%;
		display: inline-block;
		margin: 0 !important;
		border-right: 1px #fff solid;
		font-size: 15px;
		transition: color 500ms;
		color: rgba(255,255,255,0.5);
	}

	.header a:last-child{
		border-right: none !important;
	}

	.header a:hover, .header a.current {
		border-bottom: none;
		color: rgba(255,255,255,1);
	}

	.hideonmobile {
		display: none !important;
	}

	.hideonnormal {
		display: block !important;
	}

	.frontbutton {
		position: relative !important;
		background: #244ea2;
		background-size: 100% !important;
		background-position: center !important;
		background-repeat: no-repeat;
		width: 49.3% !important;
		height:200px !important;
		color: #fff;
		top: auto !important;
		left: auto !important;
		display: inline-block !important;
		margin: 0.5%;
		transition: background-position 1000ms, background-size 1000ms;
		margin: 0.5% 0;
		-webkit-backface-visibility: hidden;
	}

	.frontbutton:hover{
		background-size: 140% !important;
	}

	#frontbutton1 {
		background-image: url(../img/mobile-front1.jpg);
		width: 100% !important;
		background-position: top !important;
	}
	#frontbutton2 {
		background-image: url(../img/mobile-front2.jpg);
	}
	#frontbutton3 {
		background-image: url(../img/mobile-front3.jpg);
		margin: 0 0 0 0.5%;
	}
	#frontbutton4 {
		background-image: url(../img/mobile-front4.jpg);
	}
	#frontbutton5 {
		background-image: url(../img/mobile-front5.jpg);
		margin: 0 0 0 0.5%;
	}

	.frontoverlay {
		background: #244ea2;
		opacity: 0;
		z-index: 9999;
		width: 100%;
		height: 100%;
		line-height: 200px;
		transition: opacity 500ms;
		color: #fff !important;
		font-size: 20px;
		text-align: center;
		font-weight: bold;
		text-transform: uppercase;
		text-decoration: none !important;
		border: none;
	}

	.frontoverlay:hover {
		opacity: 1;
	}

	.frontoverlay > *{
		text-decoration: none !important;
	}

	.news {
		position: relative !important;
		width: 100%;
		height: 150px;
		top: auto !important;
		left: auto !important;
		-webkit-transform: skew(0deg) !important;
		-moz-transform: skew(0deg) !important;
		-o-transform: skew(0deg) !important;
		transform: skew(0deg) !important;
		background: #eee;
		padding: 0 !important;
	}
	.unskew {
		-webkit-transform: skew(0deg) !important; 
		-moz-transform: skew(0deg) !important; 
		-o-transform: skew(0deg) !important;
		transform: skew(0deg) !important;
		padding: 10px !important;
	}
	.footer {
		background: #244ea2;
		width: 100%;
		position: fixed !important;
		left: auto !important;
		padding: 10px 0 !important;
		text-align: center;
		color: #fff;
	}
	.news {
		text-align: center;
		padding: 20px !important;
		margin-top:20px;
	}
	.news .row{
		margin: 0;
	}
	.news h2 {
		margin-bottom: 10px ;
	}
	.news .pull-right {
		float: none !important;
		margin: 20px 0 !important;
	}

	.news .pull-right>*:last-child {
		margin: 0 !important;
	}

	.item strong {
		display: block;
	}

	.product-icon {
		width: 19.08%;
		margin: 0.2%;
		opacity: 0.5;
		border-bottom: none;
		transition: border-bottom 500ms, opacity 500ms;
	}

	.product-icon.current, .product-icon:hover {
		opacity: 1;
	}

	.product-control {
		width: 100%;
		text-align: center;
	}

	.product-banner {
		height: 300px;
		width: 100%;
		display:block;
		position: relative;
		background: url("../img/product-2-mobile.jpg");
		background-size: auto 100%;
		background-position: center;
		background-repeat: no-repeat;
		margin: 0.5% 0;
	}

	.product-list {
		width: 49%;
		display:inline-block;
		padding:0 5% 0% 5%;
		text-align: center;
		vertical-align: top;

	}

	.product-list li{
		list-style: none !important;
		margin: 5px 0 !important;
		line-height: 20px;
	}
	.product-list h1{
		font-size: 24px;
		font-weight: bold;
		color: #244ea2;
		margin: 10px 0;
	}

	.product-interest{
		padding: 2% 0;
		text-align: center;
	}

	.product-interest h1{
		display: inline-block;
		margin: 0 !important;
	}
	.product-interest .button {
		margin: 5px auto 30px auto !important;
		width: 80%;
		display: block;
	}

	.services, .contact{
		text-align: center;
		margin: 0 auto 0 auto;
		text-align: center;
		padding: 0;
	}

	.services .row {
		width: 100%;
		padding: 10px 30px;
		margin: 10px ;
		max-width: 768px;
	}

	.services .row:last-child {

		margin: 10px 10px 40px 10px ;
	}

	.services-menu {
		display: inline-block;
		margin: 8px;
		color: #ccc;
		font-weight: bold;
		cursor: pointer;
		font-size: 12px;

	}

	.services-menu.current {
		color: #111;
		border-bottom: #111 solid 1px;
	}

	.services-menu:hover {
		color: #111;
		border-bottom: #111 solid 1px;
		text-decoration: none;
	}

	.contact input, .contact textarea {
		width: 100%;
		border: 1px #000 solid;
		padding: 5px 20px;
	}

	.contact .button {
		padding: 10px 0;
		width: 80%;
		display: block;
		background: #244ea2;
		line-height: 25px;
		text-align: center;
		cursor: pointer;
		margin: auto auto !important;
	}

	.contact .row {
		width: 100%;
		padding: 0px 30px;
		margin: 10px ;
		max-width: 768px;
	}

	.contact .forms {
		margin: 5px auto;
	}
	.contact .forms:last-child {
		margin-top: 0px !important;
	}
}

/**************/
/* MOBILE 768 */
/**************/

@media (max-width: 768px) and (min-width: 641px) {

	body {
		background-color:  #fff;
		padding: 0;
	}

	hr {
		margin: 10px 0;
	}

	.jumbotron {
		padding: 0;
	}

	.header {
		text-align: center;
		margin-bottom: 90px;
		display:block;
	}

	.logo {
		width: 60% !important;
		margin: 20px 0;
	}

	.headermenu {
		background-color: #244ea2;
		padding: 10px;
	}

	.header a{
		width: 24%;
		display: inline-block;
		margin: 0 !important;
		border-right: 1px #fff solid;
		font-size: 15px;
		transition: color 500ms;
		color: rgba(255,255,255,0.5);
	}

	.header a:last-child{
		border-right: none !important;
	}

	.header a:hover, .header a.current {
		border-bottom: none;
		color: rgba(255,255,255,1);
	}

	.hideonmobile {
		display: none !important;
	}

	.hideonnormal {
		display: block !important;
	}

	.frontbutton {
		position: relative !important;
		background: #244ea2;
		background-size: 100% !important;
		background-position: center !important;
		background-repeat: no-repeat;
		width: 49.3% !important;
		height:200px !important;
		color: #fff;
		top: auto !important;
		left: auto !important;
		display: inline-block !important;
		margin: 0.5%;
		transition: background-position 1000ms, background-size 1000ms;
		margin: 0.5% 0;
		-webkit-backface-visibility: hidden;
	}

	.frontbutton:hover{
		background-size: 140% !important;
	}

	#frontbutton1 {
		background-image: url(../img/mobile-front1.jpg);
		width: 100% !important;
		background-position: top !important;
	}
	#frontbutton2 {
		background-image: url(../img/mobile-front2.jpg);
	}
	#frontbutton3 {
		background-image: url(../img/mobile-front3.jpg);
		margin: 0 0 0 0.5%;
	}
	#frontbutton4 {
		background-image: url(../img/mobile-front4.jpg);
	}
	#frontbutton5 {
		background-image: url(../img/mobile-front5.jpg);
		margin: 0 0 0 0.5%;
	}

	.frontoverlay {
		background: #244ea2;
		opacity: 0;
		z-index: 9999;
		width: 100%;
		height: 100%;
		line-height: 200px;
		transition: opacity 500ms;
		color: #fff !important;
		font-size: 20px;
		text-align: center;
		font-weight: bold;
		text-transform: uppercase;
		text-decoration: none !important;
		border: none;
	}

	.frontoverlay:hover {
		opacity: 1;
	}

	.frontoverlay > *{
		text-decoration: none !important;
	}

	.news {
		position: relative !important;
		width: 100%;
		height: 150px;
		top: auto !important;
		left: auto !important;
		-webkit-transform: skew(0deg) !important;
		-moz-transform: skew(0deg) !important;
		-o-transform: skew(0deg) !important;
		transform: skew(0deg) !important;
		background: #eee;
		padding: 0 !important;
	}
	.unskew {
		-webkit-transform: skew(0deg) !important; 
		-moz-transform: skew(0deg) !important; 
		-o-transform: skew(0deg) !important;
		transform: skew(0deg) !important;
		padding: 10px !important;
	}
	.footer {
		background: #244ea2;
		width: 100%;
		position: fixed !important;
		left: auto !important;
		padding: 10px 0 !important;
		text-align: center;
		color: #fff;
	}
	.news {
		text-align: center;
		padding: 20px !important;
		margin-top:20px;
	}
	.news .row{
		margin: 0;
	}
	.news h2 {
		margin-bottom: 10px ;
	}
	.news .pull-right {
		float: none !important;
		margin: 20px 0 !important;
	}

	.news .pull-right>*:last-child {
		margin: 0 !important;
	}

	.item strong {
		display: block;
	}

	.product-icon {
		width: 19.08%;
		margin: 0.2%;
		opacity: 0.5;
		border-bottom: none;
		transition: border-bottom 500ms, opacity 500ms;
	}

	.product-icon.current, .product-icon:hover {
		opacity: 1;
	}

	.product-control {
		width: 100%;
		text-align: center;
	}

	.product-banner {
		height: 400px;
		width: 100%;
		display:block;
		position: relative;
		background: url("../img/product-2-mobile.jpg");
		background-size: auto 100%;
		background-position: center;
		background-repeat: no-repeat;
		margin: 0.5% 0;
	}

	.product-list {
		width: 49%;
		display:inline-block;
		padding:0 5% 0% 5%;
		text-align: center;
		vertical-align: top;

	}

	.product-list li{
		list-style: none !important;
		margin: 5px 0 !important;
		line-height: 30px;
	}
	.product-list h1{
		font-size: 24px;
		font-weight: bold;
		color: #244ea2;
		margin: 20px 0;
	}

	.product-interest{
		padding: 2% 0;
		text-align: center;
	}

	.product-interest h1{
		display: inline-block;
		margin: 0 !important;
	}
	.product-interest .button {
		margin: 40px auto 40px auto !important;
		width: 80%;
		display: block;
	}

	.services, .contact{
		text-align: center;
		margin: 0 auto 0 auto;
		text-align: center;
		padding: 0;
	}

	.services .row {
		width: 100%;
		padding: 10px 30px;
		margin: 10px ;
		max-width: 768px;
	}

	.services .row:last-child {

		margin: 10px 10px 40px 10px ;
	}

	.services-menu {
		display: inline-block;
		margin: 8px;
		color: #ccc;
		font-weight: bold;
		cursor: pointer;
		font-size: 16px;

	}

	.services-menu.current {
		color: #111;
		border-bottom: #111 solid 1px;
	}

	.services-menu:hover {
		color: #111;
		border-bottom: #111 solid 1px;
		text-decoration: none;
	}

	.contact input, .contact textarea {
		width: 100%;
		border: 1px #000 solid;
		padding: 5px 20px;
	}

	.contact .button {
		padding: 10px 0;
		width: 80%;
		display: block;
		background: #244ea2;
		line-height: 25px;
		text-align: center;
		cursor: pointer;
		margin: auto auto !important;
	}

	.contact .row {
		width: 100%;
		padding: 0px 30px;
		margin: 10px ;
		max-width: 768px;
	}

	.contact .forms {
		margin: 20px auto;
	}
	.contact .forms:last-child {
		margin-top: 0px !important;
	}
	.contact textarea {
		height: 200px;
	}
}

/**************/
/* SCREEN 1024 */
/**************/

@media (max-width: 1024px) and (min-height: 768px) and (min-width: 769px) {

	html,body {
		font-family: "Open Sans", sans-serif;
		height: 100%;
		font-size: 12px;
		font-weight: 300;
	}

	strong {
		font-weight: 700;
	}

	h1 {}
	h2  /*normal title*/{
		font-size:16px;
		font-weight: bold;
		text-transform: uppercase;
		margin: 0;
	}
	p {

		line-height: 20px !important;
	}
	li {
		margin-left: 20px;
	}
	.green {
		color: rgba(36,78,162,1);
	}

	.header {
		background: none;
		color: #fff;
		font-size: 14px;
		font-weight: bold;
		margin-bottom: 0;
		padding: 10px 0;
		height:5%;
	}
	.header a {
		text-decoration: none;
		text-transform: uppercase;
		color: #fff;
		margin-left: 20px;
	}
	.header a:hover{
		border-bottom: 2px solid #fff;
	}
	.header a.current {
		border-bottom: 2px solid #fff;
	}
	.logo {
		width: 36%;
	}
	.tagline,.home-tagline {
		color:white;
		text-transform: uppercase;
		top: 44px;
		position: absolute;
		display:block;
		left: 0%;

	}
	.home-tagline h1{
		font-weight: 800;
		font-size: 52px;
		margin-top: 8%;
	}
	.tagline h1 {
		font-weight: 800;
		font-size: 52px;
		margin-top: 55%;
	}
	a.fa{
		text-decoration: none;
		color: #000;
		cursor: pointer;
		transition : color 500ms;
		margin-right:15px;
		font-size: 15px;
	}
	a.fa:hover {
		color: blue;
	}

	/* Frontpage Buttons */
	.frontbutton {
		position: absolute;
		display: block;
		background-size: 100%;
		background-repeat: no-repeat;
		z-index: 99999;
	}
	#frontbutton1 {
		background-image: url(../img/button-1.png);
		width: 25%;
		height: 32%;
		top: 22%;
		left: 27%;
	}
	#frontbutton2 {
		background-image: url(../img/button-2.png);
		width: 19%;
		height: 26%;
		top: 41%;
		left: 49%;
	}
	#frontbutton3 {
		background-image: url(../img/button-3.png);
		width: 19%;
		height: 24%;
		top: 48%;
		left: 6%;
	}
	#frontbutton4 {
		background-image: url(../img/button-4.png);
		width: 16%;
		height: 24%;
		top: 55%;
		left: 28%;
	}
	#frontbutton5 {
		background-image: url(../img/button-5.png);
		width: 19%;
		height: 25%;
		top: 54%;
		left: 69%;
	}

	.about-title {
		margin-left: 55%;
	}

	.about {
		clear: left;
		margin-left: 54%;
		margin-top: 1%;
		width: 47%;
	}

	.news {
		position: absolute;
		width: 625px;
		height: 150px;
		top: 74%;
		left: 13%;
		-webkit-transform: skew(-45deg);
		-moz-transform: skew(-45deg);
		-o-transform: skew(-45deg);
		transform: skew(-45deg);
		background: #eee;
		padding: 20px;
	}
	.unskew {
		-webkit-transform: skew(45deg); 
		-moz-transform: skew(45deg); 
		-o-transform: skew(45deg);
		transform: skew(45deg);
		padding: 10px 30px 10px 50px;
	}

	/* Footer */
	.footer {
		background: url("../img/footer.png");
		background-repeat: no-repeat;
		background-position: top left;
		position: absolute;
		background-size: auto 100%;
		bottom: 0px;
		width: 68%;
		height: 35px;
		left: 12%;
		padding: 10px 60px;
		font-size: 11px;
	}

	/*products related*/

	.product-icon {
		width: 84px;
		height: 59px;
		display: inline-block;
		margin: 0 1px;
		background-repeat: no-repeat;
		background-size: 100%;
		margin-top: 110px;
		cursor: pointer;
	}
	.product-control {
		margin-top: 90px;
	}
	.product-search {
		margin-top: 70px;
	}
	.product-search input {
		height: 40px;
		margin: auto;
	}
	.product-search input[type=text] {
		border: 2px solid #ccc;
		width: 55%;
		padding: 10px 20px;
		display: inline-block;
		margin-left: 52px;
		margin-right: 1%;
		margin-top: 57px;
	}
	.product-search input[type=submit] {
		border: none;
		width: 20%;
		background: #244ea2;
		color: #fff;
		display: inline-block;
		font-size: 10px;
	}
	.product-holder {
		display:none;
	}
	.product-holder img {
		width: 100%;
	}
	.product-list {
		padding-top: 0px;
		line-height: 22px;
		width: 25%;
		margin-left:9%;
	}
	.product-list:last-child {
		margin-left: 0% !important;
	}
	.product-list h1{
		font-size: 24px;
		font-weight: bold;
		color: #244ea2;
	}
	.product-interest {
		border-left: 1px solid #ccc;
		height: 100%;
		padding: 20px 20px;
	}

	.product-interest h1 {
		font-size: 20px;
		font-weight: bold;
		color: #000;
		line-height: 23px;
	}
	.product-interest .button {
		font-size: 14px;
		font-weight: bold;
		color: #fff !important;
		padding:10px 0;
		margin: 20px 0;
		width: 150px;
		display: block;
		background: #244ea2;
		line-height: 25px;
		text-align: center;
		cursor: pointer;
	}

	.product-interest i {
		margin-right: 10px;
	}

	/* About */
	.about {
		text-align: justify;
	}

	/* Services & contact */
	.services, .contact {
		margin-top: 207px;
		margin-left: 490px;
		padding: 0;
		min-width: 39%;
	}

	.services-menu {
		display: inline-block;
		margin-right: 10px;
		margin-bottom: 10px;
		color: #ccc;
		font-weight: bold;
		cursor: pointer;
	}

	.services-menu.current {
		color: #111;
		border-bottom: #111 solid 1px;
	}

	.services-menu:hover {
		color: #111;
		border-bottom: #111 solid 1px;
		text-decoration: none;
	}

	.contact {
		padding-right: 40px;
		font-size:13px;
	}

	.contact .forms{
		padding: 0 10px 0 0;
		margin-bottom: 10px;
		margin-top: 5px;
	}

	.contact h1 {
		font-size: 20px;
		font-weight: bold;
		color: #000;
		line-height: 23px;
		margin: 10px 0 20px 0;
	}

	.contact input, .contact textarea {
		width: 100%;
		border: 1px #000 solid;
		padding: 5px 20px;
		height: 40px;
	}

	.contact .button {
		font-size: 14px;
		font-weight: bold;
		color: #fff !important;
		padding:10px 0;
		width: 200px;
		display: block;
		background: #244ea2;
		line-height: 25px;
		text-align: center;
		cursor: pointer;
	}

	.hideonnormal {
		display: none;
	}
}

/**************/
/* SCREEN 1366 */
/**************/

@media (max-width: 1366px) and (min-height: 768px) and (min-width: 1025px) {

	.services, .contact {
		top: 30%;
		height: 50%;
	}
	.services-top, .contact-top {
		height: 30%;
	}
	.services-corner {
		top: 30%;
		height: 50%;
	}
	
}
